.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    label {
        display: block;
        margin: 5px 10px 5px 0;
    }

    input {
        vertical-align: middle;
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    button {
        padding: 10px 20px;
        background-color: dodgerblue;
        border: 1px solid #ddd;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: royalblue;
        }
    }
}